{% extends 'records/main.html' %}

{% load crispy_forms_tags %}

{% block content %}
<style>
.container {
    padding-top: 50px;
}

input {
    max-width: 14em;
}


#info {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#bd {
    text-align: center;
}

.row * {
    padding-top: 14px;
}

</style>
    
<div class="container">
    <center>
        <div class="alert alert-primary" role="alert" id="info">
            <b>YOU'RE NOW ADDING COMPLETE_BLOOD_COUNT RECORDS</b>
        </div>
        <div class="alert alert-primary" role="alert" id="info">
            <form action="" method="POST">
                {% csrf_token %}
                {% crispy cbc_form %}
            </form>
        </div>
    </center>
</div>
{% endblock %}