{% extends 'records/main.html' %}

{% block  content %}
<style>
.container {
    padding-top: 50px;
}

#submit {
    padding-top: 100px;
    text-align: center;
}



#info {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#bd {
    text-align: center;
}
</style>

<div class="container">
    <div class="alert alert-primary" role="alert" id="info">
        <b>YOU'RE NOW ADDING A NEW PATIENT</b>
    </div>
    <div class="row">
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}

            <input type="submit" name = "ADD PATIENT">
        </form>
    </div>
</div>
{% endblock  %}
