{% extends 'records/main2.html' %}

{% block  content %}
<style>
.container {
    padding-top: 50px;
}


</style>

<div class="container">
    <div class="row">
        <form>
            <div class="col-md-1 mb-2">
                <div class="form-floating">
                    <input type="number" class="form-control" id="p_id" placeholder="Patient's ID">
                    <label for="p_id">Patient's ID</label>
                </div>
            </div>
            <div class="col-md-2 mb-2">
                <div class="form-floating">
                    <input type="text" class="form-control" id="Name" placeholder="First name">
                    <label for="Name">First name</label>
                </div>
            </div>
            <div class="col-md-2 mb-2">
                <div class="form-floating">
                    <input type="text" class="form-control" id="Surame" placeholder="Last name">
                    <label for="Surame">Last name</label>
                </div>
            </div>
              <div class="col-auto my-1">
                <label class="mr-sm-2" for="yob">DATE OF BIRTH</label>
                <select class="custom-select mr-sm-2" id="yob">
                  <option selected>2022-2003</option>
                  <option value="1">2002-1983</option>
                  <option value="2">1982-1963</option>
                  <option value="3">1962-1943</option>
                </select>
                <select class="custom-select mr-sm-1" id="mob">
                    <option selected>January-April</option>
                    <option value="1">May-August</option>
                    <option value="2">September-December</option>
                  </select>
                  <select class="custom-select mr-sm-1" id="dob">
                    <option selected>1-15</option>
                    <option value="1">16-31</option>
                  </select>
              </div>
              <div class="form-check form-check-inline" id="gender">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleradio" value="F">
                <label class="form-check-label" for="femaleradio">FEMALE</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleradio" value="M">
                <label class="form-check-label" for="maleradio">MALE</label>
              </div>
            <div> 
            <button class="btn btn-primary" type="submit">ADD NEW PATIENT</button>
            </div>
        </form>
    </div>
</div>
{% endblock  %}
