{% extends 'records/main.html' %}

{% block  content %}
<style>
.container {
    padding-top: 50px;
}

#submit {
    padding-top: 100px;
    text-align: center;
}



#info {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#bd {
    text-align: center;
}
</style>

<div class="container">
    <div class="alert alert-primary" role="alert" id="info">
        <b>YOU'RE NOW ADDING A NEW PATIENT</b>
    </div>
    <div class="row">
        <div class="col-6">
            <form>
                <div class="col-md-3 mb-2">
                    <div class="form-floating" id="idtag">
                        <input type="number" class="form-control" id="p_id" placeholder="Patient's ID">
                        <label for="p_id">Patient's ID</label>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="form-floating" id="ntag">
                        <input type="text" class="form-control" id="Name" placeholder="First name">
                        <label for="Name">First name</label>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="form-floating" id="lntag">
                        <input type="text" class="form-control" id="Surame" placeholder="Last name">
                        <label for="Surame">Last name</label>
                    </div>
                </div>
                <div class="form-check form-check-inline" id="fgender">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleradio" value="F">
                    <label class="form-check-label" for="femaleradio">FEMALE</label>
                </div>
                <div class="form-check form-check-inline" id="mgender">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleradio" value="M">
                    <label class="form-check-label" for="maleradio">MALE</label>
                </div>
        </div>
        <div class="col-6">
            <div class="col-auto my-1" id="bd">
                <label class="mr-sm-2" for="yob">DATE OF BIRTH</label>
                <select class="custom-select mr-sm-2" id="yob">
                  <option selected>2022-2003</option>
                  <option value="1">2002-1983</option>
                  <option value="2">1982-1963</option>
                  <option value="3">1962-1943</option>
                </select>
                <select class="custom-select mr-sm-1" id="mob">
                    <option selected>January-April</option>
                    <option value="1">May-August</option>
                    <option value="2">September-December</option>
                  </select>
                  <select class="custom-select mr-sm-1" id="dob">
                    <option selected>1-15</option>
                    <option value="1">16-31</option>
                  </select>
              </div>
        </div>
    </div>
    <div class="row">
        <div id="submit"> 
            <button class="btn btn-primary" type="submit">ADD NEW PATIENT</button>
        </div>
    </div>
            </form>
</div>
{% endblock  %}
