{% extends 'records/main.html' %}

{% block content %}
<style>
    .container {
        padding-top: 50px;
    }

    #info {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
<div class="container">
    <div class="alert alert-info" role="alert" id="info">
        <b>YOU'RE NOW ADDING MEDICAL RECORDS</b>
    </div>
    <div class="row">
        <form action="" method="POST">
            {% csrf_token %}
            {{t_form}}

            <input type="submit" name ="ADD TEST">
        </form>
    </div>
</div>
{% endblock %}