{% extends 'records/main.html' %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    .container {
        padding-top: 50px;
    }
    
    #submit {
        padding-top: 100px;
        text-align: center;
    }
    
    input {max-width: 12em}
    
    #info {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #bd {
        text-align: center;
    }
    
    #tests * {
        padding-top: 8px;
    }
    </style>
        
    <div class="container">
        <center>
            <div class="alert alert-primary" role="alert" id="info">
                <b>SELECT THE TEST YOU WANT TO ADD IN</b>
            </div>
            <div class="row">
                <center>
                    <div class="alert alert-primary" role="alert" id="tests">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% crispy t_form %}   
                        </form>
                    </div>
                <center>
            </div>
        </center>
    </div>
{% endblock %}